.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(49, 46, 46, 0.9);
}

.window {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 515px;
  border-radius: 5px;
  background: #1E5128;

  color: #ffffff;
}

.header {
  padding: 26px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.headerTitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;

}

.closeBtn {
  cursor: pointer;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px;
  background: #4E9F3D;
  font-size: 15px;
  text-align: center;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  background: #4E9F3D;
  padding-bottom: 25px;

  border-bottom-left-radius: 5px ;
  border-bottom-right-radius: 5px ;

}