.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #282c34;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;

  &Img{
    width: 41px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  &Text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    &:hover {
      color: #A6CE39;
    }
  }
}

.cart {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;

  &Icon {
    height: 30px;
    width: 30px;
  }

  &Count {
    font-size: 24px;
    color: #A6CE39;
  }
}

.favorite {
  display: flex;
  gap: 8px;
  align-items: center;

  &Icon {
    height: 30px;
    width: 30px;
  }

  &Count {
    font-size: 24px;
    color: #A6CE39;
  }
}